body {
  margin: 0;
  position: relative;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

h1 {
  color: #fff;
  font-size: 64px;
  margin: 0;
}

.winner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 100vw;
}

.winner .btn {
  display: inline-block;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 34px;
  padding: 2.5px 5px;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s ease;
}

.winner .btn:hover {
  background-color: rgb(102, 98, 98);
  border-radius: 30px;
}
